body{
    background-image: url("./img/night.png");
}
canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

.outer {

width: 100%;
}
#bird {
    width: 100%;
    height: 100%;
    position:fixed; 
    left:0;
    top:0;
}
.lv{
    color: white!important;
    background-color: #FF6F00;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:95px;
    height: 36px;
    margin:10px;
    border-radius: 10%;

}
.lv>a{
    text-decoration: none;
    color: white!important;
}
.om_lv_wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.5);
}
.om_lv{
    display: inline-block;
    position: absolute;
    justify-content: space-between;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}
.back{
    display: inline-block;
    position: absolute;
    justify-content: space-between;
    top: 500px;
    left: 100px;
    width: 100px;
    height: 100px;
}